.footer {
    padding: 60px 0;
    background-color: var(--footer-bg-color);
    
    .logo {
      display: block;
      margin-bottom: 20px;
    }
    
    .container {
      display: flex;
      align-items: baseline;
    }
  }
  
  .footer-logo {
    color: #ffffff;
  }
  
  .footer-address {
    font-style: normal;
  }
  
  .footer-link {
    color: #ffffff;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: var(--accent-color);
    }
  }
  
  .address-item:not(:last-child) {
    margin-bottom: 9px;
  }
  
  .footer-contacts {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: var(--accent-color);
    }
  }
  
  .footer-join {
    padding-left: 70px;
  }
  
  .footer-title {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  .footer-socials-list {
    display: flex;
  }
  
  .footer-socials-item:not(:last-child) {
    margin-right: 10px;
  }
  
  .footer-socials-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    fill: #ffffff;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .footer-socials-icon {
    fill: inherit;
    &:hover,
    &:focus {
    background-color: var(--accent-color);
    }
  }
  
  .footer-subscribe {
    margin-left: 93px;
  }
  
  .footer-email-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color: #ffffff;
  }
  
  .footer-wrap {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
  
  .footer-email {
    width: 358px;
    height: 50px;
  
    padding: 15px 16px;
    margin-top: 20px;
  
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    outline: none;
    color: #ffffff;
  }
  
  .footer-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
  
    width: 200px;
    height: 50px;
    margin-left: 12px;
  
    color: #ffffff;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    background-color: #188ce8;
    }
  }
  
  .footer-button-icon {
    fill: #ffffff;
    margin-left: 10px;
  }
  
  